/****************CSS reset***************/
html,
body,
div,
p,
img,
h1, h2, h3, h4, h5, h6,
input, button{
  border: 0;
  margin: 0;
  padding: 0;
}

/*********Basic styles *********************/

body{
  background-color: #4887b0;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
}

.hidden{
  visibility: hidden;
}

.float-right{
  float: right;
}

/************* Individual styles ********************/
.search-container{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 30%;
  width: 100%;
}

h1{
  text-transform: uppercase;
}

/********** Query container ***********************/

#form{
  margin: 10% 0;
  text-align: center;
  width: 80%;
}

#form input{
  border-radius: 5px;
  min-width: 70%;
  padding: 10px;
}

button{
  background-color: #8e8741;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}

/***************** Display books ******************/

.parentBook{
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  color: #a1a1a2;
  display: flex;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

.bookInfo{
  padding-left: 10px;
  text-align: left;
}

.bookInfo *{
  padding-top: 5px;
  padding-bottom: 5px;
}

.title {
  color: #9b9b9e;
}

/**************Error modal box styles **************************/
#errorModal{
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-content{
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  left: 10%;
  padding: 4em;
  position: absolute;
  text-align: center;
  top: 35%;
}

.modal-content *{
  padding: 1em;
}

/************************ Media queries ***********************/

@media only screen and (min-width: 630px){
  .search-container{
    margin-top: 10%;
  }
  .display-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .parentBook{
    max-width: 40%;
  }
}

@media only screen and (min-width: 900px){
  .parentBook{
    max-width: 30%;
  }
}
